:root {
    --primary: #2C3E50;
    --secondary: #1ABC9C;
}

header {
    background-color: var(--primary);
    height: 100px;
}

.banner, .about {
    background-color: var(--secondary);
}

.fr_col_6 {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 2px solid red;
}

img {
    max-width: 100%;
}

.avatar_info {
    background-color: rgb(190, 118, 118);
    width: 450px;
    height: 200px;
}

.fr_img {
    width: 300px;
}

.section_title {
    background-color: rgb(223, 213, 69);
    width: 200px;
    height: 100px;
}

.portfolio img {
    border-radius: 10px;
}

.about {
    height: 600px;
}


.about_col_6 {
    background-color: coral;
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

.fr_col_12 {
    background-color: coral;
    width: 300px;
    height: 400px;
    border: 2px solid black;
}